global
    maxconn 1024
 
defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
 
frontend smtp-in
    mode tcp
    bind *:{{smtp_port}}
    default_backend smtpd
 
backend smtpd
    {% for i in range(1, num_smtpd_processes+1) %}
    server smtpd{{i}} 127.0.0.1:{{10000+i}} maxconn 256
    {% endfor %}
