global
    maxconn 256
 
defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
 
frontend smtp-in
    mode tcp
    bind *:25
    default_backend smtpd
 
backend smtpd
    {% for i in range(num_regular_backends) %}
    server smtpd{{i}} 127.0.0.1:{{10000+i}} maxconn 32
    {% endfor %}
