[Unit]
Description={{app_name}} SMTP daemon

[Service]
User={{user_name or app_name}}
ExecStart={{src_root}}/.env/bin/python -m flask_app.services.smtpd -p 1000%i
WorkingDirectory={{src_root}}

[Install]
WantedBy=multi-user.target
