[program:{{app_name}}-haproxy]
process_name={{app_name}}-haproxy
command=/usr/sbin/haproxy -f {{deploy_root}}/config/haproxy.cfg
stdout_logfile=/var/log/{{app_name}}-haproxy.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=3
stdout_events_enabled=true
redirect_stderr=true


[program:{{app_name}}-smtpd]
numprocs={{num_regular_backends}}
process_name={{app_name}}-smtpd-%(process_num)s
command={{deploy_root}}/virtualenv/bin/python -m flask_app.services.smtpd -p 10%(process_num)03d
environment=PYTHONPATH="{{deploy_root}}"
stdout_logfile=/var/log/{{app_name}}-smtpd.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=3
stdout_events_enabled=true
redirect_stderr=true
