{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Autoclave</h1> /ˈɔtəˌkleɪv/
      <blockquote>
A strong, pressurized, heated vessel, as for laboratory experiments, sterilization, cooking or mineral processing.
      </blockquote>
    </div>
  </div>
  <center><h2>Self Test</h2></center>
  <div class="row">
    <div class="span6">
      <h3>Notifications</h3>
      <div class="example">
        <pre>autoclave.notify_success("Notifications are working");</pre>
      </div>
    </div>
    <div class="span6">
      <h3>JSON REST</h3>
      <div class="example">
        <pre>
d = autoclave.api.call(
       "/api/1.0/example_sum",
       {"a" : 1, "b" : 2});
d.success(function(data) {
  autoclave.notify_success("Result is " + data.result)
});
</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
$(function() {
  $(".example").each(function() {
     var code = $(this).find("pre").text();
     var button = $('<button class="btn">Test</button>');
     button.appendTo($(this));
     button.click(function() {eval(code)});
  });
  $(".alert-demo-btn").click(function () {
     autoclave.notify("This is a notification", $(this).data("type"));
  });
});
{% endblock %}
