{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
<span style="font-size: 24px">Active Mailboxes</span>
<button class="btn btn-danger" onclick="app.delete_all_messages().success(function() {$('#mailboxes td').fadeOut(function() {$(this).remove();});}); return false">Delete all</button>
</div>
<table class="table" id="mailboxes">
{% for mailbox in summary.mailboxes %}
<tr><td>{{mailbox.name}}</td><td>{{mailbox.num_messages}} messages</td></tr>
{% endfor %}
</table>
{% endblock %}
