@import 'bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';

$offwhite: #fbfbfb;
$offwhite-darker: #ddd;
$mailbox-icon-background: #dcdcfe;
$detail-grayedout: gray;

.mailbox {
    display: table;
    width: 100%;
    background: $offwhite;
    border: 1px solid silver;
    box-shadow: 2px 2px 2px silver;
    margin: 0em;
    background-image: 
}

.mailbox-inner {
    display: table-row;
    width: 100%;
}

.mailbox-header {
    display: table-cell;
    width: 3em;
    color: black;
    padding: 0.5em;
    vertical-align: middle;
    background: $mailbox-icon-background;
}

.mailbox-details {
    padding: 1em;
}

.mailbox-details .detail {
    overflow: hidden;
    text-overflow: ellipsis;
    color: $detail-grayedout;
}

.detail.address {
    color: black;
    font-weight: bold;
}