<div class="row">
  <div class="col-sm-4">
    {{#each mailboxes}}
    <div class="mailbox">
      <div class="mailbox-inner">
        <div class="mailbox-header">
          <i class="fa fa-inbox fa-2x"></i>
        </div>
        <div class="mailbox-details">
          <div class="detail address">
            {{address}}
          </div>
          <div class="detail">
            Last activity {{last_activity_str}}
          </div>
          <div class="detail">
            Will be deleted {{will_delete_str}}
          </div>
    	  <div class="detail">
            Last updated: {{lastUpdated}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="col-sm-8">
  </div>
</div>
